{
  "extends": ["ts-important-stuff", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "env": {
        "node": true
      }
    }
  ]
}
